#app3 {
  border: 1px solid blue;
  width: 50vw;
  height: 50vh;
}
#app3 .square {
  width: 8vw;
  height: 8vw;
  margin: 50px 0 0 50px;
  border: 1px solid grey;
  transition: all 0.5s;
}
#app3 .circular {
  transform: translateX(20vw);
  border-radius: 50%;
}
